@font-face {
	font-family: 'clock_font';
	src: url('../fonts/7segment.ttf');
}

#newfont{
	font-family:'clock_font';
}

#digital-clock {
	background-color: rgba(0, 0, 0, 1);
	width: auto;
	margin: auto;
	font-family: clock_font;
	color: #39ff14;
	letter-spacing: 10px;
	font-size: 128px;
	text-align: center;
}